<a [routerLink]="['']" routerLinkActive="router-link-active" >Back</a>
<h3>Cart</h3><button class="nut" (click)="clearCart()">clear</button>

<div style="text-align: right;color: lightpink" class="text" > Pick a currency<select class="khung" [(ngModel)]="tiente.tt"[ngModelOptions]="{standalone: true}"(press)="tien()">
    <option style="color: violet" value="USD">USD</option>
    <option value="VND">VND</option>
    <option value="GBP">GBP</option>
    <option value="EUR">EUR</option>
    </select>
    <div style="color: violet;text-align: left" class="thong bao" [(ngModel)]="tiente.thongbao"[ngModelOptions]="{standalone: true}">
      {{tien()}}
    </div>

   </div>
 
<table class="table">
  <thead>
    <tr>
      <th scope="col">STT</th>
      <th scope="col">Product</th>
      <th scope="col">Price</th>
      <th scope="col">Số lượng</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items;let index=index">
      <th scope="row"></th>
      <td>{{ item.productname }}</td>
      <td >{{ item.price}}</td>
      <td ><input style="width: 60px" type="number"[(ngModel)]="soluong[index]" min=1></td>
      <td>{{total(index) | currency}}</td>
    </tr>
  </tbody>
</table>
<header >{{toAll()}}</header>
<button [routerLink]="['/mail']" routerLinkActive="router-link-active" >BUY NOW</button>
