<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div class="container">
    <header>My Guitar Shop</header>
    <div class="row">
      <div class="col-3">
      <aside class="trai">
        <div class="title">Links</div>
        <a href="#">View Cart</a><br>
        <a href="#">Login/Register</a><br>
        <a href="#">Home</a><br><br>
        <div class="title">Categories</div>
        <a href="#">Guitars</a><br>
        <a href="#">Basess</a><br>
        <a href="#">Drums</a><br><br>
        <div class="title">Temp Link</div>
        <a href="#">Admin</a><br><br>
      </aside>
    </div>
      <div class="col-9">
      <article>
        <router-outlet></router-outlet>
      </article>
    </div>
    </div>
   
    <footer class="foot">&copy;
      2010 My Guitar Shop, Inc
    </footer>
  </div>



</body>

</html>