<div class="container">
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Full name</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">Vui lòng nhập tên chính xác để chúng tôi thuận tiện cho việc giao hàng</small>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Your address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">Địa chỉ rõ ràng( thêm mô tả để thuận tiện cho việc giao hàng
                )</small>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">Xin nhập mail chính xác</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Tôi đồng ý và chịu trắc nhiệm về điều khoản</label>
        </div>
        <button  type="submit" class="btn btn-primary"><a href="mailto:support@hminh35789@gmail.com">Thanh toán</button>
        <button type="submit" class="btn btn-primary">Chuyển khoản</button>
    </form>
</div>